<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <title th:text="${title}"></title>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width,
      initial-scale=1, user-scalable=no"
    />
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
    />

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/custom.css" />


</head>

<span th:fragment="footer-scripts">
    <!-- Bootstrap Bundle with Popper -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous" >
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script th:inline="javascript" src="/custom.js"></script>
    <script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google_api_key') + '&callback=initMap'}}" async defer></script>
  </span>
</html>