<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <head th:replace="fragments/template :: head(title='Nearby Buses')"></head>

</head>
<body>
<header>
    <h1>Remo-Shreveport-MARTA-APP</h1>
</header>

<section>
    <article>
        <div class="col">

            <!--
              Everything needed to render the map is below.
            -->
            <div id="map"></div>
            <div th:if="${buses != null and buses.size() > 0}">
                <script th:inline="javascript">
                      /*<![CDATA[*/
                        var busLocations = /*[[${buses}]]*/
                      /*]]>*/
                </script>
            </div>
        </div>
    </article>

    <article>
        <h2 class="text-center">Find Buses</h2>
        <!--
             Form to handle the input for finding nearby buses
        -->

        <form
                th:action="@{/buses}"
                th:name="${request}"
                method="post"
                autocomplete="off"
                class="form-inline"
        >
            <div class="form-group">
                <input
                        type="text"
                        th:value="${address}"
                        placeholder="Address"
                        class="form-control"
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        th:value="${city}"
                        placeholder="City"
                        class="form-control"
                />
            </div>
            <div class="form-group">
                <button
                        class="btn btn-md btn-primary btn-block"
                        name="Submit"
                        value="Submit"
                        type="Submit"
                >
                    Find
                </button>
            </div>
        </form>

        <br/>

        <!--
            If the list of buses isn't empty, display a table that shows the nearby buses.
        -->
        <div class="row" th:if="${buses != null and buses.size() > 0}">
            <table class="table table-striped">
                <tr>
                    <th>Route #</th>
                    <th>Bus #</th>
                    <th>Next Stop</th>
                    <th>Distance (mi)</th>
                </tr>
                <tr th:each="bus: ${buses}">
                    <td th:text="${bus.ROUTE}"></td>
                    <td th:text="${bus.VEHICLE}"></td>
                    <td th:text="${bus.TIMEPOINT}"></td>
                    <td th:text="${bus.distance}"></td>
                </tr>
            </table>
        </div>
        <br/>

        <div class="container-fluid">
            <!--
                If there are no nearby buses, display a notification message:
            -->
            <div class="text-center" th:if="${buses != null and buses.size() == 0}">
                <h3>Sorry, there are no nearby buses.</h3>
            </div>
        </div>
    </article>
</section>

<span th:replace="fragments/template :: footer-scripts"></span>
</body>
</html>