<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Nearby Buses</title>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width,
      initial-scale=1, user-scalable=no"
    />
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
    />
    <!-- Bootstrap Bundle with Popper -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
    ></script>
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/custom.css" />


</head>
<body>
<header>
    <h1>Remo-Shreveport-MARTA-APP</h1>
</header>

<section>
    <article>
        <div class="col" style="height: 100%; width: 100%;">
            <h2>Map</h2>
            <!--
              Everything needed to render the map is below.
            -->

            <div id="map"></div>
            <div th:if="${buses != null and buses.size() > 0}">
                <script th:inline="javascript">
                      /*<![CDATA[*/
                        var busLocations = /*[[${buses}]]*/
                      /*]]>*/
                </script>
            </div>


        </div>
    </article>

    <article>
        <h2 class="text-center">Find Buses</h2>

        <form
                th:action="@{/buses}"
                th:name="${request}"
                method="post"
                autocomplete="off"
                class="form-inline"
        >
            <div class="form-group">
                <input
                        type="text"
                        th:value="${address}"
                        placeholder="Address"
                        class="form-control"
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        th:value="${city}"
                        placeholder="City"
                        class="form-control"
                />
            </div>
            <div class="form-group">
                <button
                        class="btn btn-md btn-primary btn-block"
                        name="Submit"
                        value="Submit"
                        type="Submit"
                >
                    Find
                </button>
            </div>
        </form>

        <br/>

        <!--
          After that, if our list of buses isn't null, we display a table that shows all the nearby buses below the form.
          -->
        <div class="row" th:if="${buses != null and buses.size() > 0}">
            <table class="table table-striped">
                <tr>
                    <th>Route #</th>
                    <th>Bus #</th>
                    <th>Next Stop</th>
                    <th>Distance (mi)</th>
                </tr>
                <tr th:each="bus: ${buses}">
                    <td th:text="${bus.ROUTE}"></td>
                    <td th:text="${bus.VEHICLE}"></td>
                    <td th:text="${bus.TIMEPOINT}"></td>
                    <td th:text="${bus.distance}"></td>
                </tr>
            </table>
        </div>
        <br/>

        <div class="container-fluid">
            <!--
         Finally, if there are no nearby buses, we display a message:
         -->
            <div class="text-center" th:if="${buses != null and buses.size() == 0}">
                <h3>Sorry, there are no nearby buses.</h3>
            </div>
        </div>
    </article>
</section>


<script src="assets/js/jquery.min.js"></script>
<script th:inline="javascript" src="/custom.js"></script>
<script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google_api_key') + '&callback=initMap'}}" async defer></script>

</body>
</html>